/**
 * ==========================
 */

/* Dropdown menu */
.menu-wrapper #menu, .menu-ghost-wrapper #menu {
  /* height: inherit; */ /*Chỉ sử dụng khi có submenu*/
}

.menu-wrapper #menu .menu-inside > div > ul, .menu-ghost-wrapper #menu .menu-inside > div > ul {
  max-width: none;
}

.menu-wrapper #menu .menu-inside > div > ul > li:after, .menu-ghost-wrapper #menu .menu-inside > div > ul > li:after {
  display: none;
}

.menu-wrapper #menu .menu-inside > div > ul > li {
  position: relative;
}
.menu-wrapper #menu .menu-inside > div > ul > li.menu-item-has-children:hover ul.sub-menu {
  background: #444444;
  display: block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.menu-wrapper #menu .menu-inside > div > ul > li ul.sub-menu {
  display: none;
  width: 135%;
  position: absolute;
  z-index: 999;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

#menu ul li > ul {
  width: 200px;
}
#menu ul li > ul li {
  display: block;
  list-style: inside none;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: left;
    padding-left: 10px;
}
#menu ul li > ul li a {
  font-family: 'proxima_nova_rgregular';
  text-transform: uppercase;
  /*padding: 0 10px 0 10px;*/
  margin-top: 5px;
    display: inline-block;
  font-size: 1.2em;
  line-height: 20px;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#menu ul ul a:hover {
  color: #ffffff;
}
#menu > ul > li.menu-item-has-children > a:hover:before {
  border-top: 5px solid #ffffff;
}

 /*Contact form*/
.wpcf7-form .text {
  margin-bottom: 10px;
}

.wpcf7-form .text input[type="text"],
.wpcf7-form .text input[type="email"],
.wpcf7-form .text textarea {
  outline: none;
  width: 100%;
  padding: 5px 10px 5px 0;
  background: transparent;
  border-bottom: 1px solid #d7d7d7;
  font-size: 16px;
}
.wpcf7-form .text input[type="text"]:focus,
.wpcf7-form .text input[type="email"]:focus,
.wpcf7-form .text textarea:focus {
  border-bottom: 1px solid #252525;
}
.wpcf7-form .text textarea {
  height: 100px;
  resize: none;
}
.wpcf7-form .text.submit {
  text-align: center;
}
.wpcf7-form input[type='submit'] {
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  background: #1d1d1d;
}
.wpcf7-form input[type="submit"]:hover {
    background: #807e7e;
}


.edit-link {
  z-index: 1;
}

.biography-archive-page-content p {
  text-align: left;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  font-size: 19px;
  line-height: 159%;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.006rem;
}

img.alignright, .wp-caption.alignright {
    margin: 12px 0 12px 1.5rem;
}

img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
    height: auto;
}

.alignright {
    float: right;
}

.bio-pic-1 {
    /* -webkit-clip-path: polygon(74% 0, 100% 90%, 120% 100%, 20% 50%); */
    -webkit-clip-path: polygon(74% 0, 100% 90%, 120% 100%, 20% 50%);
    clip-path: polygon(74% 0, 100% 90%, 120% 100%, 20% 50%);
    shape-outside: polygon(74% 0, 100% 90%, 120% 100%, 20% 50%);
    -webkit-shape-outside: polygon(74% 0, 100% 90%, 120% 100%, 20% 50%);
    max-width: 70% !important;
    margin: -24px -17% 12px 0 !important;
    position: relative;
}

.tourdates-singledate .singledate-datepicker .date-number > h1 {
  font-size: 5.0em;
}
.tourdates-singledate .singledate-datepicker .date-month-day > p.month > span {
  font-weight: bold;
  border-bottom: 1px solid darkgoldenrod;
  border-top: 1px solid darkgoldenrod;
}

.menu-wrapper a.menu-logo, .menu-ghost-wrapper a.menu-logo {
  left: 48%;
  top: 20px;
  height: 45px;
  width: 290px;
}

@media only screen and (max-width: 1024px) {
  .bio-pic-1, .bio-pic-2, .bio-pic-3 {
      -webkit-clip-path: initial;
      clip-path: initial;
      shape-outside: initial;
      -webkit-shape-outside: initial;
      max-width: 60% !important;
      margin-right: 0 !important;
      transform: rotate(0);
      -webkit-transform: rotate(0);
      position: relative;
  }
}

@media only screen and (max-width: 1024px) {
  .bio-pic-1 {
      margin: 0 0 12px 15px !important;
  }
}

@media only screen and (max-width: 667px) {
  .bio-pic-1, .bio-pic-2, .bio-pic-3 {
      max-width: 100% !important;
      margin: 12px 0 12px 0 !important;
  }
  .typo-blog h6 {
      font-size: 1.2em;
      margin-bottom: 10px;
  }
}
blockquote {
    margin: 1.75rem 0;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
}

blockquote, blockquote p {
    line-height: 135%;
    font-size: 35px;
    color: #555453;
    font-family: 'Bold-Ital';
    margin-bottom: 10px;
    text-align: center;
}

blockquote p.quote-author, .quote-author {
    font-size: 30px;
    text-align: right;
}

.entry-content blockquote, .comment-content blockquote {
    margin-bottom: 1.75rem;
    padding: 2.5rem 15% 1.25rem 20%;
}

.entry-content blockquote.bio-1 {
    margin-bottom: 1.75rem;
    padding: 1.05rem 17% 0.95rem 8%;
}

.entry-content blockquote:before {
    content: '“';
    font-size: 112px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-family: 'proxima_nova_rgregular';
    color: #9D9D9D;
    display: block;
    float: left;
    margin-right: -55px;
    margin-left: -30px;
    margin-top: 15px;
}

.contact-content .typo-blog p {
  font-family: 'proxima_nova_rgregular';
  font-size: 16px;
  line-height: 159%;
  color: #7b7b7b;
}

.footer {
  position: relative;
  margin: auto auto;
  width: 100%;
  /* margin-bottom: 60px; */
  /* background: #151515; */
}

